@{

}



    <div class="container table-bordered perfil">
        <img src="https://scontent.fssz2-1.fna.fbcdn.net/v/t1.0-9/69022084_1537503246390562_7013917104604708864_n.jpg?_nc_cat=104&_nc_oc=AQmli5hHv653KjC4NvYJZGT6GliAldxAC-bZR8HnQUYkAbAODfx_OlyA2oFuXYcLvik&_nc_ht=scontent.fssz2-1.fna&oh=ad8ac230f043dc4a7042250e185eb1e2&oe=5E84A373" alt="" class="img-circle" style="width:100px; height:100px">
        <h3>Perfil</h3>
        <div class="row">
            <div class="col-lg-6">
                <label>Nome</label><input class="form-control" value="Ricardo Spernega" readonly />
                <label>Idade</label><input class="form-control" value="21 Anos" readonly />
                <label>Email</label><input class="form-control" value="ricardo_srd@hotmail.com" readonly />
            </div>
            <div class="col-lg-4">
                <label>Data de nascimento</label>
                <input class="form-control" value="18/04/1998" readonly />
                <label>Cidade</label>
                <input class="form-control" value="Santos - SP" readonly />
            </div>
        </div>
    </div>
